@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-navy-900: #0B1F3A;
  --color-royal-600: #2B6EF2;
}

body {
  font-family: var(--font-sans);
  background-color: #FAFAFA;
  color: #1A1A1A;
  -webkit-font-smoothing: antialiased;
}
